.form {
  width: 90%;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  button {
    height: 40px;
    background: var(--green);
    color: var(--dark);
    font: 700 1.2rem var(--font);
  }
}