.container {
  width: 480px;

  h2 {
    margin-bottom: 1rem;
    margin-top: 0.5rem;
  }
}

.image {
  text-align: center;
  margin-bottom: 1rem;

  img {
    height: 300px;
  }
}

.infoContainer {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.buttonClose {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-right: 1.5625rem;



  button {
    background: var(--red);
    border: none;
    color: var(--white);
    font-size: 1rem;
    font-weight: 500;
    border-radius: 0.3rem;
    padding: 0.5rem;

    transition: filter 0.2s;

    &:hover {
      filter: brightness(1.1);
    }
  }

  a {
    color: var(--white);
    font-weight: 500;
    background-color: var(--green);
    display: inline-block;
    padding: 0.5rem;
    border-radius: 0.3rem;

    transition: filter 0.2s;

    &:hover {
      filter: brightness(1.1);
    }
  }
}

.description {
  word-break: break-all;
}

@media (max-width: 700px) {
  .container {
    width: 400px;
  }
}

@media (max-width: 550px) {
  .container {
    width: 270px;
  }

  .image {
    text-align: center;
    margin-bottom: 1rem;

    img {
      height: 170px;
    }
  }
}

@media (min-width: 551px) and (max-width: 700px) {

  .image {
    text-align: center;
    margin-bottom: 1rem;

    img {
      height: 250px;
    }
  }
}